<% @users.each do |user| %>
  <div class="span4" style="float: left; margin-bottom: 30px">
    <h4>
      <%= user.role.name.capitalize %> <%= user.first_name %> (<%= user.username %>)
    </h4>
    <ul class="list-button">
      <% user_chats(user).each do |chat| %>
        <li class="list-button-item">
          <%= link_to space_user_chat_path(@space.sid, @user.id, chat.id) do %>
          <!-- Paliativo para mostrar chats quando o usuário é apenas o contact -->
            <% if chat.user == user %>
              Conversa com <%=chat.contact.role.name %> <%= chat.contact.first_name %>
            <% else %>
              Conversa com <%=chat.user.role.name %> <%= chat.user.first_name %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>