<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item breadcrumb-mini-compact icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Home", '/', 
                :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before" %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    Conversas de <%= @chat.user.first_name %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    <a class="breadcrumb-mini-link" href="#">Com <%= @chat.contact.role.name %>
     <%= @chat.contact.first_name %></a>
  </li>
</ul>
<% messages_per_day(@chat).each do | msg_per_day | %>
  <h6 class="pull-right"><%= msg_per_day.first.sent_at.to_s(:date) %></h6>
  <table class="table-with-borderradius">
    <tbody>
      <% msg_per_day.each do | msg | %>
        <tr>
          <td class="hcol"><%= msg.sent_at.to_s(:time) %></td>
          <td><%= msg.user %>: <%= msg.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br /><br />
<% end %>
